:root{
  --bg_color1: rgb(18,44,51);
  --bg_color2: rgb(18,33,38);
  --logo_color1: rgb(30,63,79);
  --logo_color2: rgb(10,82,110);
  --logo_color3: rgb(27,70,92);
  --logo_color4: rgb(17,106,162);
  --pnc_color: rgb(0,147,220);
  --ifoc_color: rgb(86,104,146);
}

a {
  color: #acb7c0;
  display: block;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

body, .sl-slide-inner
{
  background: url('../images/BG3.png') var(--bg_color1) fixed;
    background-size: cover;
  /* background: var(--bg_color1) fixed; */
}

#popup-iklan{
  position: absolute;
}
#popup-iklan .inner img:not(.banner){
  width:100%;
}


/*...SLIDER.....................................................*/
#slider-ifest{
  max-height: 600px;
}
.sl-slider-wrapper {
	width: 800px;
	height: 400px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.sl-slider {
	position: absolute;
	/*top: 0;
	left: 0;*/
}

/* Slide wrapper and slides */

.sl-slide,
.sl-slides-wrapper,
.sl-slide-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.sl-slide {
	z-index: 3;
}

/* The duplicate parts/slices */

.sl-content-slice {
	overflow: hidden;
	position: absolute;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	/*background: #fff;*/
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity : 1;
}

/* Horizontal slice */

.sl-slide-horizontal .sl-content-slice {
	width: 100%;
	height: 50%;
	left: -200px;
	-webkit-transform: translateY(0%) scale(1);
	-moz-transform: translateY(0%) scale(1);
	-o-transform: translateY(0%) scale(1);
	-ms-transform: translateY(0%) scale(1);
	transform: translateY(0%) scale(1);
}

.sl-slide-horizontal .sl-content-slice:first-child {
	top: -200px;
	padding: 200px 200px 0px 200px;
}

.sl-slide-horizontal .sl-content-slice:nth-child(2) {
	top: 50%;
	padding: 0px 200px 200px 200px;
}

/* Vertical slice */

.sl-slide-vertical .sl-content-slice {
	width: 50%;
	height: 100%;
	top: -200px;
	-webkit-transform: translateX(0%) scale(1);
	-moz-transform: translateX(0%) scale(1);
	-o-transform: translateX(0%) scale(1);
	-ms-transform: translateX(0%) scale(1);
	transform: translateX(0%) scale(1);
}

.sl-slide-vertical .sl-content-slice:first-child {
	left: -200px;
	padding: 200px 0px 200px 200px;
}

.sl-slide-vertical .sl-content-slice:nth-child(2) {
	left: 50%;
	padding: 200px 200px 200px 0px;
}

/* Content wrapper */
/* Width and height is set dynamically */
.sl-content-wrapper {
	position: absolute;
}

.sl-content {
	width: 100%;
	height: 100%;
	/*background: #fff;*/
}

/* Default styles for background colors */
/*
.sl-slide-horizontal .sl-slide-inner {
	background: #ddd;
}

.sl-slide-vertical .sl-slide-inner {
	background: #ccc;
}
*/

#slider .slide-content{
  height: auto;
  max-height: 460px;
  border: 4px solid var(--pnc_color);
}
#slider .text-content{
  position: relative;
  top:15%;
  padding: 30px 0px 0px 0px!important;
  margin-left: 4%;
  text-align: center;
  font-size: 30px !important;

}
#slider .highlight{
  background-color: var(--ifoc_color);
}

.content-inner .img-content{
  height: 100% !important;
}

.content-inner .img-content-only img {
  position: relative;
   left:0px;
   top:-75px;
  width: 80%;
  height: 80%;
  max-width:550px;
  padding: 5px 0;
  max-height: 100% !important;
}

.content-inner img{
  position: relative;
   left:15%;
  padding: 70px 0;
  max-height: 100% !important;
  max-width: 210px;
}



#slider .content-inner{
  position: relative;
  height: auto;
  width: auto;
  text-align: center;
  padding: 70px 0;
}



/*...HEADER.....................................................*/
#header{
  background: var(--bg_color1);
  color: #fff;
  position: fixed;
  padding: 15px 0;
  width: 100%;
  z-index: 70;
}
.logo-box{
  position: relative;
  text-align: center;
  height: 52px;
}
#logo{
  width:105px;
  height:60px;
}
#header .logo-content img {
    min-width: 100%;
}
ul.navbar-box{
  position: relative;
  text-align: right;
  margin-bottom: 0;
}
li.item-nav{
  font-size: 13pt;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  list-style: none;
  margin-bottom: 0;
}

.res-btn-nav{
  display: none;
  font-size:30px;
}



/*...LOGO IFEST.....................................................*/
.header-logo{
  position: relative;
  background: transparent;
  color: #fff;
  padding-top: 85px;
}
.logo-ifest{
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
}
.logo-content {
    height: 500px;
    margin: 0 auto;
}
.logo-content img{
    max-height: 100%;
    max-width: 100%;
}

/*...CONTENT ABOUT.....................................................*/
section#content-about {
  background: var(--logo_color2);
  color: #fff;
  height: 500px;
  display: flex;
  align-items: center;
}
.logo_ifest_asli{
  position:relative;
  height: 80%;
  width: 80%;
  margin-top:5%;
}
p.desc {
  font-size: 13pt;
  text-align: justify;
  letter-spacing: 0.3pt;
}
.flexslider {
  height: 365px;
  position: relative;
}
.box-content {
  height: auto;
  position: relative;
  align-items: center;
  display: flex;
}
.title-content-acara{
text-align: center;
}
#content-2 .row {}
.splash{
display: none;
}
.item-acara{
text-align: center;
padding:20px 0px;
}
.item-acara a:hover h4{
color: #0FA0CE;
}
.img-slider{
width: 536px;
}
p.flex-caption {
  padding: 15px;
  top: -49px;
  position: relative;
  background: rgba(0,0,0,0.3);
  font-size: 13pt;
  width: 100%;
}



/*...ACARA.....................................................*/
.title_acara{
  text-align: center;
  padding-top: 85px;
}
section#content-acara{
height: auto;
padding: 60px 0;
background: transparent;
color: #fff;
}
section#acara-top {
  padding: 30px 0;
  color: #fff;
}

section#acara-bottom {

}
.arrow-border {
position: absolute;
top: -49px;
left: 79%;
height: 0;
width: 0;
border: 25px solid transparent;
border-bottom: 25px solid var(--logo_color2);
}
.item-acara h4 {
  font-size: 16pt;
  margin-bottom: 0;
}

.img-acara {
  height: 120px;
  margin-bottom: 15px;
}
#acara-top .content-box{
    background-color: var(--bg_color2);
    padding-bottom: 3%;
}

img {
  /* height: 100%; */
}

.box-content-acara {
  padding: 30px;
}
#acara-bottom .container {
  background: #bf3b2b;
  border-radius: 5pt;
}
.img-acara img {
  height: 100%;
  max-width: 100%;
}

/*...ACARA.....................................................*/

#acara-ifest{
  color:white;
  margin-bottom: 60px;
}
.acara-upper{
  background-color: var(--bg_color2);
  padding:1% 1% 2% 1%;
  max-height: 225px;
  max-width: 580px;
  border-radius: 15px 15px 0px 0px;
}
.acara-lower{
  background-color: var(--bg_color2);
  padding:1% 2% 2% 2%;
  max-height: 225px;
  max-width: 960px;
  border-radius: 15px 15px 0px 0px;
}
.multievent-ex{
  background-color: var(--logo_color2);
  padding:1% 1% 2% 1%;
  max-height: 225px;
  max-width: 960px;
  border-radius: 0px 0px 15px 15px ;
}



/*...TIMELINE.....................................................*/

#timeline-ifest{
  background: var(--logo_color2);
  padding-bottom: 60px;
}

/*Judul*/
.title_timeline{
  padding-top:90px;
}
.title_timeline h1{
  text-align: center;
  color :white;
  z-index: 2;
  margin: 5px 0px;
}
.title_timeline .container{
  max-width: 280px;
  background-color: var(--bg_color1);
  border: 4px solid var(--pnc_color);
  border-radius: 6px;
}
.container .logo_acara{
  width :100%;
  height: 100%;
}

/*Logo left */
.timeline .left .logo_acara img{
  position: absolute;
  top:47px;
  width:75px;
  right: -37px;
  z-index: 5;
}

.icon-1-1{
  top: 33px!important;
}

/*Logo right */
.timeline .right .logo_acara img{
  position: absolute;
  top:47px;
  width:75px;
  left: -37px;
  z-index: 5;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--pnc_color);
    top: -40px;
    bottom: 0;
    left: 50%;
    z-index: 2;
    margin-left: -3px;
}

/* Container around content */
#timeline-ifest .timeline .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    margin-top: 40px;
    margin-botom: 40px;
}

/* The circles on the timeline */
#timeline-ifest .timeline .container::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    right: -54px;
    background-color: var(--bg_color1);
    border: 4px solid var(--pnc_color);
    top: 15px;
    border-radius: 50%;
    z-index: 3;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -54px;
}

/* Place the container to the left */
.left {
    left: -25%;
}

/* Place the container to the right */
.right {
    left: 25%;
}

/* Add arrows to the left container (pointing right) */
#timeline-ifest .left .content::after{
    content: " ";
    height: 0;
    position: absolute;
    top: 35px;
    width: 0;
    z-index: 1;
    right: -120px;
    border: medium solid white;
    border-width: 15px 15px 15px 0;
    border-color: transparent var(--pnc_color) transparent transparent;
}

/* Add arrows to the right container (pointing left) */
#timeline-ifest .right .content::after{
    content: " ";
    height: 0;
    position: absolute;
    top: 35px;
    width: 0;
    z-index: 1;
    left: -120px;
    border: medium solid white;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent var(--pnc_color);
}

/*Circle left*/
.left::before {
    content: " ";
    top: 10px;
    right: -30px;
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: var(--logo_color2);
    border-radius: 50%;
    z-index: 1;
}

/*Circle right*/
.right::before {
    content: " ";
    top: 10px;
    left: -30px;
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: var(--logo_color2);
    border-radius: 50%;
    z-index: 1;
}

/* The actual content */
#timeline-ifest .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    text-align: justify;
    border-radius: 6px;
    border: 8px solid var(--pnc_color);
}

/*Text for left one*/
.left .content p{
  padding-right: 20px;
}

/*Text for left one*/
.right .content p, .right .content h2{
  padding-left: 20px;
}

/*Tanggal*/
.left .tanggal{
  position: absolute;
  width: 210px;
  top: 40px;
  right: -310px;
  padding:5px 10px;
  margin:0px;
  color :white;
  text-align: center;
  white-space: nowrap ;
  background-color: var(--bg_color1);
  border:4px solid var(--pnc_color);
}

/*Tanggal*/
.right .tanggal{
  position: absolute;
  width: 210px;
  top: 40px;
  left: -310px;
  padding:5px 10px;
  margin:0px;
  color :white;
  text-align: center;
  white-space: nowrap ;
  background-color: var(--bg_color1);
  border:4px solid var(--pnc_color);

}
/*...SPONSORSHIP.....................................................*/
#sponsorship{
  background-color: white;
  padding: 15px 0 60px;
  z-index: 3;
}

.title_sponsor h1{
  text-align: center;
  margin: 40px 0px;
  font-weight: bold;
}

.gold{
  max-width: 30.6666666667%;
  margin-left: 4%;
}

.silver{
  max-width: 16.6666667%;
  margin-left: 4.1666667%;
}
.bronze{
  max-width: 10.625%;
  margin-left: 4.2708333%;
}

/*...MAP.....................................................*/

#map {
    position: relative;
    width: 100%;
    height: 300px;
    z-index: -1;
  }

/*...CONTACT US.....................................................*/

.row .form-id{
  background-color: var(--logo_color1);
  border-radius: 5%;
}
.form {
  padding: 30px;

}

#contact-us{
  background-color: var(--logo_color2);
  padding: 15px 0 60px;
}
#contact-us .title-cp h1{
  font-weight: bold;
  text-align: center;
  margin: 40px 0px;
  color: white;
}


input[type="text"], textarea , input[type="email"] {
    width: 90%;
    float: left;
    border: none;
    font-family: "CaviarDreams",sans-serif;
}

#contact-us .icon{
  width: 38px;
  height: 38px;
  float: left;
  background-color: #FF9F55;
  font-size: 30px;
  color: var(--logo_color4);
  text-align: center;
  border-radius: 15%;
  line-height: 38px
}

#contact-us textarea{
  height: 200px;
}

#contact-us .form label{
  color: white;

}


.form .btn-kirim{
  background-color: var(--logo_color4) !IMPORTANT;
  color: #FF9F55 ;
  font-size: 10pt !IMPORTANT;
  margin-top: 10px
}

.box-contact h3{
  text-align: center;
  color:white;
  border-bottom: 2px solid white;
}

.box-contact li{
  list-style: none;
  font-size: 20px;
  color: #FF9F55;
}

.box-cp, .box-sosmed{
    background-color: var(--logo_color1);
    border-radius: 15%;
    margin-bottom: 5px;
}
.id-sosmed{
  text-align: left;
  line-height: 43px;
  font-size: 120%;
  color:#FF9F55;
}
.box-contact .box-cp, .box-sosmed{
  padding: 15px 15px;
}

.icon-box{
  text-align: center;
}
.icon-sosmed{
  width: 45px;
  height: 45px;
}
.box-sosmed a{
  text-decoration: none;
}

/*Site Menu ----------------------------------------------*/

.site-menu {
    top: 100px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--bg_color1);
    border: 1px solid #d9d9d9;
    z-index: 3;
}

.site-menu .logo {
    display: block;
    float: left;
    width: 100px;
    padding: 1% 0px;
}

.site-menu .menu {
    position: relative;
    top: 0px;
    float: right;

}

.site-menu .menu ul > li {
    display: inline-block;
}

.site-menu .menu ul > li a {
    display: block;
    height: 40px;
    font-size: 12px;
    line-height: 18px;
    padding: 14px 9px;
    text-decoration: none;
}

.site-menu ul{
    margin-bottom: 0px !important;
}

.site-menu .closebtn{
    visibility: hidden;
    position: fixed;
}

.site-menu span{
    visibility: hidden;
    position: fixed;
    font-size:20px;
    cursor:pointer;
}
.site-menu .logo2{
    display: none;
}

/* Larger than Desktop HD */
@media only screen and (max-width: 1280px) {
  .ct-sliderPop-container {
    left: 74% !important;
    top: 89% !important;
  }
}
/* Larger than desktop */
@media only screen and (max-width: 1000px) {
  #slider p{
    font-size: 80%;
  }
  #slider h2{
    font-size: 60px;
  }
  .ct-sliderPop-container {
    left: 50% !important;
    top: 90% !important;
  }
  .box-contact h3{
    font-size: 90%;
  }

  .box-contact li{
    font-size: 90%;
  }
}
/* Larger than tablet */
@media only screen and (max-width: 850px) {
  #slider p{
    font-size: 70%;
  }
  #slider h2{
    font-size: 50px;
  }
  .content-inner img{
    max-width: 150px;
  }
  input[type="text"], textarea , input[type="email"] {
      width: 85%;
  }
  .id-sosmed{
    font-size:100%;
  }


}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media all and (max-width: 600px) {
  #header #logo{
    float: left;
  }

  #header .logo-box{
    width :110px;
  }
  #header .two.columns{
    width:110px;
  }
  .navbar-box a{
    display: none;
  }
  .navbar-box a.res-btn-nav{
    float: right;
    display: block;
  }
  .btn-scroll-container{
    width: 70% !important;
    float: right;
  }

  .navbar-box.responsive {position: relative;}
  .navbar-box.responsive a.res-btn-nav{
    position: relative;
    width: 200px;
    right: 0;
    top: 0;
  }
  .navbar-box.responsive .item-nav{
    float: left;
  }
  .navbar-box.responsive a:not(.res-btn-nav){
    width: 180px;
    float: left;
    display: block;
    text-align: center;
  }
  /*Contatct*/
  .id-sosmed{
    font-size:80%;
  }

  /*SLIDER------------------------------------------------------------------*/
  #slider p{
    font-size: 60%;
  }
  #slider h2{
    font-size: 40px;
  }
  .content-inner img{
    max-width: 150px;
  }
  /*TIMELINE--------------------------------------------------------------*/
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
#timeline-ifest .timeline .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make disable arrow*/
  #timeline-ifest .left .content::after ,#timeline-ifest .right .content::after{
    display: none;
  }

  /*disable circle*/
  #timeline-ifest .timeline .left::before , .right::before{
    display: none;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 0px;
  }

  /* Make all right containers behave like the left ones */
  .right, .left {
    left: 0%;
  }

  /*make logo at same spot*/
  .timeline .right .logo_acara img,.timeline .left .logo_acara img{
    left:15px;
    right: 0px;

  }

  /*make text at same position*/
  .right .content p, .left .content p, .right .content h2 , .left .content h2{
    padding-left: 20px;
    padding-right: 0px;
  }
  .right .content h2 , .left .content h2{
    padding-top:20px;
  }
  .left .content, .right .content{
     top:50px;
  }

  /*made date at same spot*/
  .right .tanggal, .left .tanggal{
    left:90px;
    right: 0px;
  }

  /*CONTACT PERSON--------------------------------------------------------------*/
  input[type="text"], textarea , input[type="email"] {
      width: 80%;
  }
  #contact-us{
    padding-top:40px;
  }

  /*ACARA-------------------------------------------------------------*/
  .acara-lower{
    border-radius: 0px;
  }
  .arrow-border {
    top: -35px;
    left: 78%;
    border: 20px solid transparent;
    border-bottom: 15px solid var(--logo_color2);
  }

  /*LOGO IFEST------------------------------------------------------------*/
  .logo-ifest{
    height: 400px;
  }
  .logo-content {
    height: 400px;
    margin: 0 auto;
  }

  /*HEADER---------------------------------------------------------------*/
  li.item-nav{
    padding: 10px 10px;
  }

  /*ABOUT-IFEST---------------------------------------------------------------*/
  #content-about .six.columns, #content-about .five.columns{
    width: 100%;
  }
  #content-about{
    padding-top: 80px;
  }

  #content-about .logo_ifest_asli{
    left: 14%;
  }

  #content-about .title{
    text-align: center;
  }


}

@media only screen and (max-width: 500px) {


  /*SLIDER------------------------------------------------------------------*/
  #slider .text-content {
    padding: 10px 30px 10px 30px !important;
  }
  #slider p{
    font-size: 65%;
  }
  #slider h2{
    font-size: 30px;
  }
  #slider .content-inner{
    padding: 20px 0;
  }
  .content-inner .img-content{
    width: 100%;
    left: 0;
  }
  .content-inner img{
    padding: 0px 0;
    left: 0;
  }
  #slider-ifest .sl-slider blockquote {
  	padding-bottom: 5px !important;
  }

  .content-inner .img-content-only img {
    position: relative;
     top:0px;
  }
  /*CONTACT PERSON--------------------------------------------------------------*/
  input[type="text"], textarea , input[type="email"] {
      width: 83%;
  }

  .box-contact h3{
    font-size: 3.6rem;
  }

  .box-contact li{
    font-size: 20px;
  }

  .box-cp,.box-sosmed{
    margin-top:20px;
    border-radius: 25px;
  }
  
  /*Pop Up Iklan-----------------------------*/
  #popup-iklan .ct-sliderPop-container {
    width:80% !important;
  }
  #popup-iklan .ct-sliderPop{
    width:100% !important;
  }

  /*HEADER---------------------------------------------*/

  /*ACARA IFEST-------------------------------------------*/
  .acara-upper, .acara-lower{
    max-height: 100%;
    
  }


  .arrow-border{
    left: 44%;
  }
  #acara-ifest .multievent-event{
    width: 50%;
  }
  /*ABOUT-IFEST---------------------------------------------------------------*/
  #content-about{
    padding-top: 10px;
  }
  /*Contact */
  .id-sosmed{
    font-size:120%;
  }
  .icon-box .five{
    width: 45%!important;
  }
  .icon-box .seven{
    width: 55%!important;
  }

}
@media all and (max-width: 435px) {
  /*Header------------------------------------*/
  .btn-scroll-container{
    width: 60% !important;
    float: right;
  }
  .left .tanggal{
    width: 40%;
  }
  .right .tanggal{
    width: 40 %;
  }


}